<!DOCTYPE html>
<html>
    <head>
        <title>Dating</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    </head>
    <body>
        <header>
        <nav class="navbar navbar-default navbar-custom">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><span class="brand">Essence Dating</span></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <% if(!currentUser){ %>
                        <li><a href="/login"><span class="links">Login</span></a></li>
                        <li><a href="/register"><span class="links">Sign up</span></a></li>
                        <% } else { %>
                        <li><a href="#"><span class="links">Hello <%= currentUser.profile.firstname %></span></a></li>
                        <li><a href="/logout"><span class="links">Logout</span></a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<div class="container">
    <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert"><%= error  %> </div>
    <% } %>
    <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert"><%=success  %> </div>
    <% } %>
</div>