<% include ../partials/header %>

<div class="container">
    <div class="row forms">
            <form action="/profiles" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Firstname</label>
                    <input class="form-control" type="text" name="firstname" placeholder="Firstname" >
                </div>
                <div class="form-group">
                    <label>Lastname</label>
                    <input class="form-control" type="text" name="lastname" placeholder="Lastname" >
                </div>
                <div class="form-group">
                    <label>Street</label>
                    <input class="form-control" type="text" name="street" placeholder="Street" >
                </div>
                <div class="form-group">
                    <label>City</label>
                    <input class="form-control" type="text" name="city" placeholder="City" >
                </div>
                <div class="form-group">
                    <label>Postalcode</label>
                    <input class="form-control" type="text" name="postalcode" placeholder="postalcodee" >
                </div>
                <div class="form-group">
                    <label>County</label>
                    <input class="form-control" type="text" name="country" placeholder="County" >
                </div>
                <div class="form-group">
                    <label>Date of birth</label>
                    <input class="form-control" type="date" name="born">
                </div>
                <div class="form-group">
                    <label>Gender</label>
                    <select name="gender" class="form-control">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Profile Image</label>
                    <input class="form-control" type="file" name="profileImage">
                </div>
                <div class="form-group">
                    <label>description of yourself</label>
                    <textarea class="form-control" type="text" name="description"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
    </div>
</div>

<% include ../partials/footer %>