<!DOCTYPE html>
<html>
    <head>
        <title>Dating</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    </head>
    <body>
         <div class="fill-screen">
<div id="landing-header">
 		<h1>ESSENCE DATING</h1>
		<a href="/login" class="ui red  button">Login</a>
		<a href="/register" class="ui red button">Register</a>
    </div>
     </div>
        
    
  <script src="/scripts/landing.js"></script>
    </body>
</html>